* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier Prime';
}

:root {
  --white: #fff;
  --violet: #695aa6;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #393e46;
  --gray-900: #212529;
  --black: #000;
}

.main {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(96, 83, 200, 1) 100%
  );
}


